/* empty input  */
#empty-input-error{
    display: none;
}
  
/* unpredictable input error  */
 #no-result-error{
      display: none;
}
  
/* loading spinner  */
#spinner{
    display: none;
}
/* body{ */
    /* overflow: hidden; */
/* } */